<% if user_signed_in? %>
  <ul class="user_identification">
		<li>
			<span>
				user: <%= current_user.username %> | email: <%= current_user.email %>
			</span>
		</li>
		<li>
			<span>
			<%= link_to('Logout', destroy_user_session_path, method: :delete) %>
		</span>
		</li>
  </ul>
<% end %>
